<div class="container card p-2 mt-2">
  <div style="text-align: center; ">
    <h4>Add new Course</h4>
    <hr>
  </div>
  <div class="input-group mb-3">
    <input type="text" #courseInput class="form-control" placeholder="Enter course name">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="addCourse(courseInput.value);courseInput.value=''">Add Course</button>
    </div>
  </div>
</div>

<div class="row p-2 mt-4">
  <div class="col card m-2">
    <div style="text-align: center; ">
      <h4>Courses</h4>
      <hr>
    </div>
    <div style="overflow: auto; height: 400px; ">
      <ul class="list-group ">
        <li *ngFor="let course of courses " (click)="getBatchByCourse(course) " class="list-group-item list-group-item-action ">{{course.name}}</li>
      </ul>
    </div>
  </div>

  <div class="col card m-2">
    <div style="text-align: center; ">
      <h4>Batches</h4>
      <hr>
    </div>
    <div style="overflow: auto; height: 400px; ">
      <ul class="list-group ">
        <li *ngFor="let batch of batches " class="list-group-item">
          
          <div class="input-group">
              <label class="form-control">{{batch.name}}</label>
              <div class="input-group-append">
                <button routerLink="{{batch.id}}/students" class="btn btn-outline-secondary" type="button">Students</button>
                <button routerLink="{{batch.id}}/lectures" class="btn btn-outline-secondary" type="button">Lectures</button>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container card p-2 mt-2 mb-5">
  <div style="text-align: center; ">
    <h4>Add new Batch</h4>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <select class="form-control" #selectedCourseId>
        <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
      </select>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" #batchCourseInput class="form-control" placeholder="Enter batch name">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addBatchToCourse(batchCourseInput.value, selectedCourseId.value);batchCourseInput.value='';">Add Batch</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
