<div class="input-group mb-3">
  <input type="text" #courseInput class="form-control" placeholder="Enter course name">
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="addCourse(courseInput.value);courseInput.value=''">Add Course</button>
  </div>
</div>

<div style="overflow: auto; height: 400px; margin-top: 50px">
  <ul class="list-group">
    <li *ngFor="let course of courses" (click)="getBatchByCourse(course)" class="list-group-item">{{course.name}}</li>
  </ul>
</div>

<div style="overflow: auto; height: 400px; margin-top: 50px">
    <ul class="list-group">
      <li *ngFor="let batch of batches" class="list-group-item">{{batch.name}}</li>
    </ul>
  </div>
  
