<div class="container card p-2 mt-2">
    <div style="text-align: center; ">
      <h4>Add new Subject</h4>
      <hr>
    </div>
<div class="input-group mb-3">
  <input type="text" #subjectInput class="form-control" placeholder="Enter Subject name">
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="addSubject(subjectInput.value);subjectInput.value=''">Add Subject</button>
  </div>
</div>
</div>

<div class="container card p-2 mt-4">
    <div style="text-align: center; ">
      <h4>Subjects</h4>
      <hr>
    </div>
<div style="overflow: auto; height: 400px;">
    <ul class="list-group">
    <li *ngFor="let subject of subjects" class="list-group-item">{{subject.name}}</li>
  </ul>
</div>
</div>