<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LMS <i>Solutions</i></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/course" class="nav-link">Course</a>
        </li>
        <li class="nav-item">
          <a routerLink="/student" class="nav-link">Student</a>
        </li>
        <li class="nav-item">
          <a routerLink="/subject" class="nav-link">Subject</a>
        </li>
        <li class="nav-item">
          <a routerLink="/teacher" class="nav-link">Teachers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
